.featured-move-wrapper {
  @apply fixed left-0 xl:static overflow-x-hidden z-[55] w-full max-w-full border-t border-zinc-200;
  overscroll-behavior-y: none;
  max-height: calc(100vh - (var(--main-navigation-height) + 8rem));
  scrollbar-color: grey transparent;
  scrollbar-width: thin;

  @media (min-width: 1024px) {
    @apply border-none;
    max-height: calc(100vh - (var(--main-navigation-height) + 3rem));
  }
  
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.3);
    background-color: grey;
  }

  & .loading-wrapper {
    @apply relative w-full flex justify-center items-center bg-zinc-950 border-b-8 border-black;
    aspect-ratio: 16 / 9;
  }

  & .loading {
    position: relative;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #FFF;
    box-shadow: 0 0 0 0 #FFF4;
    animation: l2 1.5s infinite linear;
    
    &:before,
    &:after {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: inherit;
      box-shadow: 0 0 0 0 #FFF4;
      animation: inherit;
      animation-delay: -0.5s;
    }
    &:after {
      animation-delay: -1s;
    }
  }

  & .move-name {
    @apply sticky top-0 flex flex-col justify-center bg-black p-2 flex-1 border-b border-zinc-500;
  }
  
  & .name {
    @apply text-base leading-none mr-2 font-semibold;
    font-family: var(--font-roboto-mono);
  }
  
  & .command {
    @apply text-xs text-zinc-500 tracking-widest leading-4;
    font-family: var(--font-roboto-mono);
  }

  & .move-notation-list {
    @apply pt-1 mt-2;
  }

  & a.close-move {
    @apply relative flex justify-center items-center w-8 h-8 rounded cursor-pointer border border-zinc-500;
  }

  & a.close-move span {
    @apply absolute inline-flex justify-center items-center w-full h-full;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &:before {
      @apply absolute flex justify-center items-center top-0 left-0 w-full h-full bg-zinc-100 text-black p-1 rounded;
      content: attr(data-button);
      clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
      transition: clip-path 0s cubic-bezier(0.83, 0, 0.17, 1);
    }

    &:hover:before {
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
    &:not(&:hover):before {
      transition: clip-path 0.4s cubic-bezier(0.83, 0, 0.17, 1);
    }
  }

  & .move-data {
    @apply border-8 border-t-0 border-black;
  }

  & .move-data > div {
    @apply h-auto;

    & span.stat {
      @apply flex items-center max-w-[33%] z-10;
    }
  
    & span + span {
      @apply xl:max-w-[67%] overflow-hidden whitespace-pre-wrap leading-none;
      word-break: break-all;
    }
  }

  & .move-data > div.extra-info {
    @apply p-2 pb-1 text-xs;
    column-span: all;
    font-family: var(--font-display);

    & ul {
      @apply list-disc ml-4;
    }

    & li {
      @apply mb-1;
    }
  }
}