:root {
  /* Counter  */
  --fb_c: #00b796;
  --fb_counter: rgba(0,183,150,255);

  /* Punish Counter */
  --fb_pc: #0170be;
  --punishCounter: rgba(1,112,190,255);

  /* Non-Counter Action Recovery */
  --fb_ncar: #42f8fd;
  --fb_nonCounterActionRecovery: rgba(66,248,253,255);

  /* Hitbox Appearance Period */
  --fb_hap: #cc2b67;
  --fb_hitboxAppearancePeriodRGB: rgba(204,43,103,255);

  /* Projectile Active Time */
  --fb_pat: #c98002;
  --fb_projectileActiveTime: rgba(201,128,2,255);

  /* Parry/Counter Active Time */
  --fb_pcat: #5c1e6e;
  --fb_ParryCounterActiveTime: rgba(92,30,110,255);

  /* Post-Damage/Block Recovery Period */
  --fb_pdbrp: #fff830;
  --fb_PostDamageBlockRecoveryPeriod: rgba(255,248,48,255);

  /* Invincibility Period */
  --fb_ip: #dddddd;
  --fb_invincibilityPeriod: rgba(241,241,240,255);

  /* Strike Invincibility Period */
  --fb_sip: #cc2a67;
  --fb_strikeInvincibilityPeriod: rgba(204,42,103,255);

  /* Projectile Invincibility Period */
  --fb_pip: #e59d23;
  --fb_ProjectileInvincibilityPeriod: rgba(229,157,35,255);
}

.frame_bar {
  @apply max-w-full;
  user-select: none;
  -moz-user-select: none;
}

.frame_bar--video {
  @apply relative flex overflow-hidden border-8 border-black;
  /* resize: both; */

  & canvas {
    @apply max-w-full;
    aspect-ratio: 16 / 9
  }
}

.frame_bar--timeline {
  @apply relative flex flex-row overflow-x-scroll overflow-y-hidden border-8 border-black h-[80px];
  background-color: #131313;
  background-image: linear-gradient(to right, #0a0a0a, #0a0a0a 2px, #131313 2px, #131313);
  background-size: 1rem 100%;
  background-position-x: -2px;
  scrollbar-width: none;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }

  &::-webkit-scrollbar{
    @apply hidden;
  }

  &:after {
    @apply absolute bottom-0 left-0 flex bg-black min-w-full h-[14px] z-10;
    content: '';
    width: var(--frame_bar--timeline--seeker_bg);
  }
}

.frame_bar--playback_controls {
  @apply grid border-8 border-t-0 border-b-0 border-black;
  grid-template-columns: 35px 1fr 70px;
  grid-template-areas: "info input controls";

  & .frame_bar--info {
    @apply bg-black;
    grid-area: info;

    & button {
      @apply cursor-default;
    }
  }

  & .frame_bar--control_group {
    @apply flex justify-between border-l-8 border-black bg-black;
    grid-area: controls;
  }
  
  & span {
    @apply block h-[28px] overflow-hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  & button {
    @apply px-2;
  }

  & button svg {
    @apply flex justify-center items-center w-[1rem] h-[1rem] text-white;
    transform: scale(1.25);
  }
}

.frame_bar--input {
  @apply relative flex justify-start items-center text-xl font-bold pl-2 bg-zinc-600 overflow-hidden;
  grid-area: input;

  & input[type="range"] {
    @apply bg-zinc-600;
    appearance: none;
  }
  
  & input[type="range"]::-webkit-slider-runnable-track {
    @apply bg-zinc-200;
    position: relative;
    height: 8px;
    border-radius: 0;
  }
  
  & input[type="range"]::-moz-range-track {
    @apply relative bg-zinc-200 rounded-none h-2;
  }
  
  & input[type="range"]::-webkit-slider-thumb {
    @apply relative w-4 h-4 border-2 rounded-none;
    box-sizing: border-box;
    appearance: none;
    top: 50%;
    translate: 0 -50%;
    border-color: black;
    background-color: black;
    cursor: grab;
  }
  
  & input[type="range"]::-moz-range-thumb {
    @apply relative w-4 h-4 border-2 rounded-none;
    box-sizing: border-box;
    appearance: none;
    border-color: black;
    background-color: black;
    cursor: grab;
  }
  
  & input[type="range"]::-moz-range-progress {
    @apply bg-zinc-600 rounded-none h-2;
  }    
}

.frame_bar--timeline--groups {
  @apply flex flex-row;
}

.frame_bar--timeline-group {
  @apply flex flex-row border-b-2 border-black;
}

.frame_bar--timeline-frame {
  @apply flex flex-col justify-center items-center border-r-2 border-black;
  height: 3rem;
  width: 1rem;

  &.frame-bg__c { background-color: var(--fb_c); }
  &.frame-bg__pc { background-color: var(--fb_pc); }
  &.frame-bg__ncar { background-color: var(--fb_ncar); }
  &.frame-bg__hap { background-color: var(--fb_hap); }
  &.frame-bg__pat { background-color: var(--fb_pat); }
  &.frame-bg__pcat { background-color: var(--fb_pcat); }
  &.frame-bg__pdbrp { background-color: var(--fb_pdbrp); }
  &.frame-bg__ip { background-color: var(--fb_ip); }
  &.frame-bg__sip { background-color: var(--fb_sip); }
  &.frame-bg__pip { background-color: var(--fb_pip); }
  &.frame-bg__psip { background: linear-gradient(var(--fb_sip) 0%, var(--fb_sip) 49%, var(--fb_pip) 50%, var(--fb_pip) 100%); }

  &.frame-bg__ip,
  &.frame-bg__sip,
  &.frame-bg__pip,
  &.frame-bg__psip {
    @apply relative;

    &:after {
      @apply absolute top-0 left-0 w-full h-full;
      content: '';
      background: repeating-linear-gradient(transparent, transparent 10%, white 10%, white 20%);
    }
  }
}

.frame_bar--timeline-number {
  @apply relative flex text-left text-base text-white w-full h-full;
  font-family: var(--font-display-bold);
  -webkit-text-stroke: 0.5px black;

  & span {
    @apply absolute top-0 bottom-0 right-[4px] flex justify-end items-center w-full h-full z-10 text-right pointer-events-none;
    letter-spacing: -2px;
    font-weight: 700;
  }
}

.frame_bar--controls {
  @apply absolute left-0 bottom-0 h-full;

  & input[type="range"] {
    @apply w-full h-full;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
    opacity: 0;
  }
}

.frame_bar--seeker {
  @apply absolute top-0 left-0 z-20;
  height: 3rem;
  width: calc(1rem - 2px);
  border-top: 4px solid;
  border-bottom: 4px solid;
  border-right: 4px solid;
  border-color: rgba(255, 255, 255, 0.65);

  &:after {
    @apply absolute left-0 flex flex-col justify-center items-center text-right text-base text-black font-bold bg-white h-[14px] min-w-[2.25rem];
    top: calc(100% + 6px);
    content: attr(data-frame);
  }
}