.character-header {
  @apply relative flex items-end bg-cover bg-center h-auto lg:h-[200px];
  padding-top: var(--main-navigation-height);

  &:before {
    @apply absolute w-full h-16 left-0 bottom-0;
    content: "";
    background: linear-gradient(rgba(16, 19, 19, 0), rgba(16, 19, 19, 1));
  }

  > .container {
    @apply mb-10;
  }

  & .display-container {
    @apply flex flex-row items-center pl-1 py-1 pr-2 rounded mt-8 lg:mt-0 border border-zinc-700;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px) brightness(1.1) saturate(1.2);
  }

  & h1 {
    @apply uppercase;
    font-family: var(--font-display-italic);
    font-weight: 700;
    font-size: clamp(1rem, 3rem, 4rem);
    line-height: 1;
    letter-spacing: 0;
  }


  & .stats-display {
    @apply max-w-full lg:max-w-[60%] mt-8 lg:mt-0;

    & ul {
      @apply flex flex-wrap justify-evenly lg:justify-end gap-2;
    }

    & ul li {
      @apply flex justify-center items-center px-2 py-1 rounded border border-zinc-700;
      background-color: rgba(0, 0, 0, 0.6);
      backdrop-filter: blur(10px) brightness(1.1) saturate(1.2);
    }

    & .icon {
      @apply mr-2;
      mask-size: 100%;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      mask-position: center;
    }

    & .name {
      @apply text-xs text-gray-300;
      font-family: var(--font-display);
    }

    & .stat {
      font-family: var(--font-monospace);
    }
  }
}

.character-header .quick-character-list {
  @apply static top-0 left-0 w-full h-full flex justify-center items-center pt-10;
  background-color: rgba(0, 0, 0, 0.8);

  @media (min-width: 1024px) {
    @apply absolute;
  }

  & ul {
    @apply flex flex-wrap justify-center items-center gap-x-2 gap-y-0;
  }
}