.character-info {
  @apply relative flex flex-col lg:grid gap-x-8;
  grid-template-columns: 1fr 500px;
  
  & .sticky-container {
    @apply sticky left-0 w-full z-50;
    top: calc(var(--main-navigation-height));

    @media (min-width: 1024px) {
      top: calc(var(--main-navigation-height) + 2rem);
    }
  }
}