.character-installs {
  @apply w-1/2 xl:w-full;

  & h4 {
    @apply text-base xl:text-xl;
  }

  & ul {
    @apply hidden xl:flex flex-wrap gap-2 xl:gap-4;
  }

  & li {
    @apply mb-2 cursor-pointer inline-flex;
  }

  & li span {
    @apply relative p-1 text-xs xl:text-sm tracking-tight text-center;

    &:before {
      @apply absolute top-0 left-0 w-full h-full bg-zinc-100 text-black p-1 rounded;
      content: attr(data-install);
      clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
      transition: clip-path 0s cubic-bezier(0.83, 0, 0.17, 1);
    } 
  }

  & li:hover, li.active {
    span:before {
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
  }
  &:not(&:hover) span:before {
    transition: clip-path 0.4s cubic-bezier(0.83, 0, 0.17, 1);
  }

  & select {
    @apply flex xl:hidden px-2 py-1 w-full rounded text-sm text-black;
    font-family: sans-serif;

    & option {
      @apply text-sm rounded;
    }
  }
}