.move-item {
  @apply flex flex-row border border-zinc-200 overflow-hidden;

  & .move-image {
    @apply relative flex justify-center items-center;

    & .main-img {
      @apply relative z-10;
    }

    & .backfill-img {
      @apply absolute z-0 top-0 left-0 w-full h-full object-cover;
      backdrop-filter: blur(10px);
    }
  }
  
  & .move-name {
    @apply flex flex-col tracking-widest uppercase p-2 border-b bg-zinc-950;
    /* background-color: rgba(255, 255, 255, 0.1); */

    & .name {
      @apply text-sm leading-4 tracking-widest mr-2;
      font-family: var(--font-display);
    }
    & .command {
      @apply text-xs text-zinc-400 tracking-widest leading-4;
      font-family: var(--font-display-italic);
      font-weight: 100;
    }
  }

  & .data-table {
    @apply flex w-full h-full;

    & .segment-title {
      @apply flex justify-center px-2 py-1 text-xs uppercase tracking-widest border-b border-zinc-600;
    }

    & > div {
      @apply flex flex-col flex-1 border-r border-zinc-600 bg-zinc-900;

      &:last-of-type {
        @apply border-r-0;
      }
    }

    & .data {
      @apply flex flex-row justify-center h-full;
      font-size: 10px;

      & > div {
        @apply flex flex-col w-full border-r border-zinc-600;

        &:last-of-type {
          @apply border-r-0;
        }

        & > span.stat {
          @apply text-xs uppercase text-center border-b border-zinc-600 p-1 bg-zinc-950;
        }

        & > span.stat + span, ul {
          @apply text-sm uppercase text-center p-1 bg-zinc-800 h-full font-bold;
          overflow-wrap: anywhere;
        }

        & ul {
          @apply flex justify-center;
        }
      }
    }
  }
}