.character-movelist {
  @apply flex flex-col;

  & > ul {
    @apply flex flex-col xl:grid gap-4 xl:gap-4;

    @media (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }

    & .category-title:first-of-type {
      @apply mt-0;
    }
  }

  & .category-title {
    @apply relative inline-block mt-16 pt-2 mb-8 bg-[#101113] border-t border-zinc-500 uppercase tracking-widest;
    font-family: var(--font-display);
    font-weight: 100;

    @media (min-width: 1024px) {
      grid-column: 1 / span 3;
    }

    &:before {
      @apply absolute top-0 left-0 w-full h-full;
      content: "";
    }
  }

  & > ul > li {
    @apply mb-4 cursor-pointer border border-zinc-700 rounded overflow-hidden;
    scroll-margin-top: calc(var(--main-navigation-height) + 20rem);
    transition: border-color 0.3s cubic-bezier(0.83, 0, 0.17, 1);

    &:hover {
      @apply border-zinc-300;
    }
  }
}