.move-item {
  @apply flex flex-col h-full;

  
  & .move-name {
    @apply flex flex-col justify-center bg-black p-2 flex-1;
  }
  
  & .name {
    @apply text-base leading-none mr-2 font-semibold;
    font-family: var(--font-monospace);
  }
  
  & .command {
    @apply text-xs text-zinc-500 tracking-widest leading-4;
    font-family: var(--font-monospace);
  }

  & .move-notation-list {
    @apply pt-1 mt-2 border-t border-zinc-500;
  }
}


.move-notation-list {
  @apply inline-flex flex-wrap gap-1;

  & img {
    @apply object-contain;
    aspect-ratio: 1 / 1;
  }
}

.move-data {
  @apply bg-zinc-300 text-black flex-grow;

  & > div:not(.extra-info) {
    @apply flex justify-between border-b border-r border-zinc-400 h-[20px] overflow-hidden;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside:avoid;
    -moz-page-break-inside:avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;

    & span, ul {
      @apply px-1;
    }
  
    & span.stat {
      @apply flex justify-end items-center text-right max-w-[33%] xl:max-w-[40%] w-full uppercase text-sm xl:text-xs border-r border-zinc-400 bg-[#bebec2];
      font-family: var(--font-display);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  
    & span + span {
      @apply flex justify-start items-center text-left text-sm xl:max-w-[60%] w-full z-0;
      font-family: var(--font-monospace);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &:hover span {
      background: rgba(0,0,0,.2);
    }

    &.cancels {
      column-span: all;
    }
  
    & ul {
      @apply flex flex-row justify-start items-center text-left w-full text-sm uppercase;
    }

    & li {
      @apply flex mr-2;
      font-size: 10px;
    }

    & li:last-of-type {
      @apply mr-0;
    }
  }
}


@keyframes moveDataScrollText {
  to {
    transform: translateX(-167%);
  }
}