.globe {
  @apply sticky top-0 flex justify-center items-center w-full self-start;

  .centerMarker {
    @apply absolute z-30 text-base animate-ping duration-[3000ms];
  }

  .canvasWrapper {
    @apply self-start relative flex justify-center items-center w-full h-full m-auto z-10;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 500px;
    perspective: 500px;

    @media (min-width: 1024px) {
      @apply h-dvh;
    }
  }

  canvas {
    @apply max-w-[270px] max-h-[270px] aspect-square z-20 w-full h-full opacity-0;

    @media (min-width: 1024px) {
      @apply max-w-[600px] max-h-[600px];
    }
  }
}