:root {
  --main-navigation-height: 2.5rem; /* 40px */
}

/* nav.navigation {
  @apply fixed top-0 w-full select-none text-zinc-200;
  height: var(--main-navigation-height);
  max-width: 100%;
  backdrop-filter: blur(10px) brightness(1.1) saturate(1.2);
  border-bottom: 1px solid color-mix(in srgb, #FFFFFF 10%, #0000);
  background-color: rgba(0, 0, 0, 0.45);
  box-shadow: 0 0 10px #18181f;
  transform: translateZ(0);
  z-index: 1000;

  p {
    @apply m-0 text-sm;
    font-family: var(--font-display);

    &.game {
      @apply italic;
    }
  }
} */


.main-navigation-toggle {
  @apply fixed top-8 right-8 text-white z-[1100];
  backdrop-filter: blur(10px) brightness(1.1) saturate(1.2);
  border-bottom: 1px solid color-mix(in srgb, #FFFFFF 10%, #0000);
  background-color: rgba(0, 0, 0, 0.45);
  box-shadow: 0 0 10px #18181f;
  transform: translateZ(0);

  & .burger {
    @apply cursor-pointer p-1;

    & svg {
      @apply w-8 h-8;
    }
  }

  & .line {
    fill: none;
    stroke: white;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  & .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }

  & .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }

  & .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
}