:root {
  --main-navigation-height: 2.5rem; /* 40px */
}

/* nav.navigation {
  @apply fixed top-0 w-full select-none text-zinc-200;
  height: var(--main-navigation-height);
  max-width: 100%;
  backdrop-filter: blur(10px) brightness(1.1) saturate(1.2);
  border-bottom: 1px solid color-mix(in srgb, #FFFFFF 10%, #0000);
  background-color: rgba(0, 0, 0, 0.45);
  box-shadow: 0 0 10px #18181f;
  transform: translateZ(0);
  z-index: 1000;

  p {
    @apply m-0 text-sm;
    font-family: var(--font-display);

    &.game {
      @apply italic;
    }
  }
} */


.main-navigation-toggle {
  @apply fixed top-4 right-4 text-white z-[1100] rounded border border-zinc-500;
  backdrop-filter: blur(10px) brightness(1.1) saturate(1.2);
  /* border-bottom: 1px solid color-mix(in srgb, #FFFFFF 10%, #0000); */
  background-color: rgba(0, 0, 0, 0.45);
  box-shadow: 0 0 10px #18181f;
  transform: translateZ(0);

  /* @media (min-width: 1024px) {
    @apply top-8 right-8;
  } */

  & .burger {
    @apply cursor-pointer p-1;

    & svg {
      @apply w-8 h-8;
      -webkit-tap-highlight-color: transparent;
      transition: transform 400ms;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
      transform: rotate(180deg);

      & .line {
        fill: none;
        transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
        stroke: white;
        stroke-width: 5.5;
        stroke-linecap: round;
      }

      & .top {
        stroke-dasharray: 40 82;
      }

      & .bottom {
        stroke-dasharray: 40 82;
      }
      &:hover .top {
        stroke-dasharray: 14 82;
        stroke-dashoffset: -72px;
      }
      &:hover .bottom {
        stroke-dasharray: 14 82;
        stroke-dashoffset: -72px;
      }
    }

    /* .ham {
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
      transition: transform 400ms;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .hamRotate.active {
      transform: rotate(45deg);
    }
    .hamRotate180.active {
      transform: rotate(180deg);
    } */
  }
}

.Mui-paper {
  @apply bg-brand-accent;
}