:root {
  --main-navigation-height: 2.5rem; /* 40px */
}

nav.navigation {
  @apply fixed top-0 w-full select-none text-zinc-200;
  height: var(--main-navigation-height);
  max-width: 100%;
  backdrop-filter: blur(10px) brightness(1.1) saturate(1.2);
  border-bottom: 1px solid color-mix(in srgb, #FFFFFF 10%, #0000);
  background-color: rgba(0, 0, 0, 0.45);
  box-shadow: 0 0 10px #18181f;
  transform: translateZ(0);
  z-index: 1000;

  p {
    @apply m-0 text-sm;
    font-family: var(--font-display);

    &.game {
      @apply italic;
    }
  }
}
