@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-navigation-height: 2.5rem; /* 40px */
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  /* Frame Timeline Colours */
  
  /* Counter  */
  --ft_c: #00b796;
  --ft_counter: rgba(0,183,150,255);

  /* Punish Counter */
  --ft_pc: #0170be;
  --ft_punishCounter: rgba(1,112,190,255);

  /* Non-Counter Action Recovery */
  --ft_ncar: #42f8fd;
  --ft_nonCounterActionRecovery: rgba(66,248,253,255);

  /* Hitbox Appearance Period */
  --ft_hap: #cc2b67;
  --ft_hitboxAppearancePeriodRGB: rgba(204,43,103,255);

  /* Projectile Active Time */
  --ft_pat: #c98002;
  --ft_projectileActiveTime: rgba(201,128,2,255);

  /* Parry/Counter Active Time */
  --ft_pcat: #5c1e6e;
  --ft_ParryCounterActiveTime: rgba(92,30,110,255);

  /* Post-Damage/Block Recovery Period */
  --ft_pdbrp: #fff830;
  --ft_PostDamageBlockRecoveryPeriod: rgba(255,248,48,255);

  /* Invincibility Period */
  --ft_ip: #dddddd;
  --ft_invincibilityPeriod: rgba(241,241,240,255);

  /* Strike Invincibility Period */
  --ft_sip: #cc2a67;
  --ft_strikeInvincibilityPeriod: rgba(204,42,103,255);

  /* Projectile Invincibility Period */
  --ft_pip: #e59d23;
  --ft_ProjectileInvincibilityPeriod: rgba(229,157,35,255);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* @apply bg-[#101113] text-zinc-200; */
  @apply bg-black text-zinc-200;
  font-family: var(--font-text), sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: .2px;
  text-rendering: optimizeLegibility;
  cursor: default;

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    width: 10px;
    width: 10px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 5px rgba(0,0,0,.3);
    background-color: grey;
  }
}

p a {
  @apply text-okz transition-colors;

  &:hover {
    @apply text-brand-primary;
  }
}

h1 {
  font-size: 2.125rem;
  line-height: 2.125rem;
}

h2 {
  font-size: 1.875rem;
  line-height: 1.875rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.25rem;
}

h5 {
  font-size: 1.125rem;
  line-height: 1.125rem;
}

h6 {
  font-size: 1rem;
  line-height: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  @apply uppercase tracking-widest;
  font-family: var(--font-display);
  font-weight: 100;
}

h1.section-header,
h2.section-header,
h3.section-header,
h4.section-header,
h5.section-header,
h6.section-header {
  @apply relative pt-2 mb-4 border-t border-zinc-500;
}

p {
  @apply mb-4;
  font-family: var(--font-text);

  &.header-subtext {
    @apply text-sm mb-6;
  }
}

input[type="checkbox"] {
  @apply absolute; 

  & + label {
    @apply relative p-0 cursor-pointer text-sm;
  }

  & + label:before {
    @apply inline-block w-4 h-4 bg-zinc-300 rounded mr-2;
    content: '';
    vertical-align: text-top;
    transition: background 0.2s cubic-bezier(0.83, 0, 0.17, 1);
  }

  &:hover + label:before {
    @apply bg-brand-accent;
  }
  &:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }

  &:checked + label:before {
    @apply bg-brand-secondary;
  }
  
  &:disabled + label {
    @apply cursor-auto text-[#b8b8b8];
  }

  &:disabled + label:before {
    @apply shadow-none bg-[#dddddd];
  }

  & + label:after {
    @apply absolute top-[15px] left-[2px] w-[2px] h-[2px] opacity-0;
    content: '';
    box-shadow: 
      2px 0 0 black,
      4px 0 0 black,
      4px -2px 0 black,
      4px -4px 0 black,
      4px -6px 0 black,
      4px -8px 0 black;
    transform: rotate(45deg);
    transition: opacity 0.4s cubic-bezier(0.83, 0, 0.17, 1);
  }

  &:checked + label:after {
    @apply opacity-100;
  }
}

.tight-container {
  @apply max-w-[65ch] mx-auto;
}

.back-to-top {
  @apply fixed bottom-8 right-8 z-[9999] cursor-pointer opacity-50;
  transition: opacity 0.25s ease-in-out;

  &:after {
    @apply absolute rounded-full p-6 bg-black z-10;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  & span {
    @apply relative flex justify-center items-center leading-none z-20;
    transform: translateY(-2px) scale(1.25);
  }

  &:hover {
    @apply opacity-100;
  }
}

.box-corners {
  @apply rounded overflow-hidden;
  --boxCornerB: 1px;  /* border thickness*/
  --boxCornerS: 20px; /* size of the corner*/
  --boxCornerG: 4px; /* the gap*/
  --boxCornerC: rgba(255, 255, 255, 0.5);
  --boxCornerP: calc(var(--boxCornerG) / 2);
  --boxCornerI: 0s;
  display: inline-block;
  aspect-ratio: 1 / 1;
  padding: calc(var(--boxCornerB) + var(--boxCornerG));
  backdrop-filter: blur(10px);
  background-image:
    conic-gradient(from  90deg at top    var(--boxCornerB) left  var(--boxCornerB),#0000 25%,var(--boxCornerC) 0),
    conic-gradient(from -90deg at bottom var(--boxCornerB) right var(--boxCornerB),#0000 25%,var(--boxCornerC) 0);
  background-position:
    var(--boxCornerP, 0%) var(--boxCornerP, 0%),
    calc(100% - var(--boxCornerP, 0%)) calc(100% - var(--boxCornerP, 0%));
  background-size: var(--boxCornerS) var(--boxCornerS);
  background-repeat: no-repeat;
  transition: background-size 0.1s calc(0.1s - var(--boxCornerI, 0.3s));

  &:hover {
    --boxCornerS: 40px;
  }
}

.button {
  @apply relative p-1 tracking-tight;

  &:before {
    @apply absolute top-0 left-0 w-full h-full bg-zinc-100 text-black p-1 rounded;
    content: attr(data-button);
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
    transition: clip-path 0s cubic-bezier(0.83, 0, 0.17, 1);
  }

  &:hover {
    &:before {
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
  }
  &:not(&:hover) {
    &:before {
      transition: clip-path 0.4s cubic-bezier(0.83, 0, 0.17, 1);
    }
  }
}

.styled-scrollbar {
  &::-webkit-scrollbar-track {
    @apply bg-transparent;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
  }
  &::-webkit-scrollbar {
    @apply bg-zinc-200;
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-thumb {
    @apply bg-zinc-500;
    box-shadow: inset 0 0 5px rgba(0,0,0,.3);
  }

  @supports not selector(::-webkit-scrollbar) {
    scrollbar-color: #3f3f46 #71717a;
    scrollbar-width: thin;
  }
}





@keyframes fadeIn {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

@keyframes fadeOut {
  0% { opacity: 1 }
  100% { opacity: 0 }
}