.canvasWrapper {
  overscroll-behavior-y: none;
  max-height: calc(100vh - (var(--main-navigation-height) + 8rem));
  scrollbar-color: grey transparent;
  scrollbar-width: thin;
}

.loadingWrapper {
  @apply relative w-full flex justify-center items-center bg-zinc-950;
  aspect-ratio: 16 / 9;
}

.loading {
  position: relative;
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #FFF;
  box-shadow: 0 0 0 0 #FFF4;
  animation: frameCanvasLoading 1.5s infinite linear;
  
  &:before,
  &:after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    box-shadow: 0 0 0 0 #FFF4;
    animation: inherit;
    animation-delay: -0.5s;
  }
  &:after {
    animation-delay: -1s;
  }
}

@keyframes frameCanvasLoading {
  100% {box-shadow: 0 0 0 40px #0000}
}