.sf6-page {
  @apply pt-16;

  & ul.character-list {
    @apply grid gap-1 justify-center max-w-[400px];
    grid-template-columns: repeat(4, 1fr);

    & a {
      @apply uppercase;
      font-family: var(--font-display-italic);
      font-weight: 700;
      font-size: 2rem;
      line-height: 1;
      letter-spacing: 0;
    }
  }
}