.sf6-page {
  @apply flex flex-col xl:grid items-center justify-start xl:justify-center min-h-screen w-full;
  grid-template-columns: 1fr 1fr;

  & .logo-hover {
    @apply absolute top-0 left-0 mix-blend-difference z-[2] pointer-events-none;
  }

  & .character-list-wrapper {
    @apply relative flex justify-center items-center py-16 h-full overflow-hidden cursor-none bg-center bg-cover bg-no-repeat;
    background-image: url('/street-fighter-6/cover.jpg');

    &:before {
      @apply absolute top-0 left-0 w-full h-full;
      content: '';
      /* -webkit-backdrop-filter: brightness(0.5) blur(5px);
      backdrop-filter: brightness(0.5) blur(5px); */
      -webkit-backdrop-filter: brightness(0.25);
      backdrop-filter: brightness(0.25);
      transform: translateZ(0);
    }
  }

  & ul.character-list {
    @apply grid gap-1 justify-center max-w-[400px] z-[1];
    grid-template-columns: repeat(4, 1fr);

    & a {
      @apply uppercase cursor-none;
      font-family: var(--font-display-italic);
      font-weight: 700;
      font-size: 2rem;
      line-height: 1;
      letter-spacing: 0;
    }

    & .portrait {
      -webkit-backdrop-filter: none;
      backdrop-filter: none;
    }
  }
}