.controls {
  @apply sticky z-10 flex gap-4 border border-zinc-700 rounded p-2;
  top: calc(var(--main-navigation-height));
  backdrop-filter: blur(10px) brightness(1.1) saturate(1.2);
  background-color: rgba(0, 0, 0, 0.8);
    background: radial-gradient(circle, rgba(25,25,52,0.65) 0%, rgba(0,0,0,0.65) 60%);
    box-shadow: 0 0 10px #18181f;

  @media (min-width: 1024px) {
    top: calc(var(--main-navigation-height) + 2rem);
  }
}

.controlPanel {
  @apply flex flex-col gap-2;
}

.controlPanelTitle {
  @apply font-text font-normal text-sm uppercase;
}

.selectField {
  @apply flex px-2 py-[0.35rem] w-full rounded text-sm leading-none text-black min-w-[100px] max-w-[180px];
  font-family: sans-serif;

  & option {
    @apply text-sm rounded;
  }
}