.mainNavigation {
  @apply fixed top-4 right-4 flex justify-between items-center text-white z-[1100] rounded border border-zinc-500;
  backdrop-filter: blur(10px) brightness(1.1) saturate(1.2);
  background-color: rgba(0, 0, 0, 0.45);
  box-shadow: 0 0 10px #18181f;
  transform: translateZ(0);
}

.navLogo {
  @apply flex justify-center items-center pl-2 h-2;
  
  & span {
    @apply inline-flex justify-center items-center text-xl leading-none;
    transition: color 0.2s ease-in-out;
  }

  & img {
    @apply h-[24px];
  }

  &:hover span {
    @apply text-brand-primary;
  }
}

.burger {
  @apply cursor-pointer p-1;

  & svg {
    @apply w-8 h-8;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transform: rotate(180deg);

    & .line {
      fill: none;
      transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
      stroke: white;
      stroke-width: 5.5;
      stroke-linecap: round;
    }

    & .top {
      stroke-dasharray: 40 82;
    }
    & .bottom {
      stroke-dasharray: 40 82;
    }

    &:hover {
      & .top {
        stroke-dasharray: 14 82;
        stroke-dashoffset: -72px;
      }

      & .bottom {
        stroke-dasharray: 14 82;
        stroke-dashoffset: -72px;
      }
    }
  }
}

.navDrawer {
  @apply bg-black border border-zinc-700 h-full w-full grow flex flex-col rounded;

  & ul {
    @apply w-full flex flex-col;
    margin-top: calc(var(--main-navigation-height) + 1rem);
    border-top: 1px solid color-mix(in srgb, #FFFFFF 30%, #0000);
  }

  & li {
    @apply relative overflow-hidden;
    border-bottom: 1px solid color-mix(in srgb, #FFFFFF 30%, #0000);

    & a {
      @apply flex justify-end items-center pr-3 p-2 uppercase font-bold;
      font-family: var(--font-monospace);

      & img {
        @apply max-w-5 max-h-5 z-[1];
        transition: filter 0.1s cubic-bezier(0.83, 0, 0.17, 1);
      }
    
      & span {
        @apply flex-1 text-right tracking-tight italic;
      }
    }
  }

  & li {
    @apply relative;

    &:before {
      @apply absolute top-0 left-1/4 w-full h-full;
      content: '';
      background: rgb(255,255,255);
      background: radial-gradient(circle, rgba(255,255,255,0.15) 0%, rgba(255,255,255,0) 100%); 
    }

    & span:before {
      @apply absolute top-0 left-0 w-full h-full bg-zinc-100 text-black pr-3 p-2;
      content: attr(data-button);
      clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
      transition: clip-path 0s cubic-bezier(0.83, 0, 0.17, 1);
    }
  
    &:hover {
      & img {
        filter: brightness(0%) saturate(100%) !important;
      }

      & span:before {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
      }
    }
    &:not(&:hover) {
      & img {
        filter: revert-layer;
        transition: filter 0.2s cubic-bezier(0.83, 0, 0.17, 1);
      }

      & span:before {
        transition: clip-path 0.4s cubic-bezier(0.83, 0, 0.17, 1);
      }
    }
  }
}